@import "bootstrap-sprockets";
@import "bootstrap";


/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.middle{
  width: 100%;
  height: auto;
  background: #F0F0F0;
}

.header{
  height: 150px;
  width: 100%;
  overflow: hidden;
  background: #CECECE;
}

.file-field{
  visibility: hidden;
}

.add-image{
  width: 40px;
  padding-top: 50px;
}

.image-thumbnail{
  width: 100%;
}

.image{
  margin-top: 10px;
  width: 100%;
}

.show-image{
  text-align: center;
}

.list{
  padding: 0px 2% 0px 3%;
}

.thumbnail{
  width: 240px;
  height: 180px;
  overflow: hidden;
  float: left;
  text-align: center;
}
.thumbnail:hover {
  border:1px solid #94000F;
}


.slide-show{
  width: 200px;
  overflow: hidden;
}


